.Nav {
  position: fixed;
  max-width: 1280px;
  width: 100%;
  background: #ebf5ff;
  padding: .5rem;
  border-radius: 99999px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  inset-inline: 0;
  align-items: center;
  border: 1px solid transparent;
  transition-property: margin border;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;

  &.Nav__floating {
    margin-top: 1.6rem;
    border-color: var(--primary-light);
  }

  &.Nav__fixed {
    margin-top: 0;
    border-color: transparent;
    border-bottom: 1px solid var(--primary-light);
    border-radius: 0;
  }

  .Nav_listContainer {
    display: flex;
    gap: 1rem;
  }

  .Nav_logo {
    margin-left: .2rem;
    line-height: 0;
  }

  .Nav_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 1.5rem;
  }

  .Nav_actions {
    display: flex;
    gap: 1rem;
  }
}

.u_separator {
  width: 2px;
  height: 100%;
  background: var(--primary);
}