.Nav {
  position: fixed;
  max-width: 1280px;
  width: 100%;
  background: var(--background);
  padding: .5rem;
  border-radius: 99999px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  inset-inline: 0;
  align-items: center;
  transition-property: margin;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;
  z-index: 10;

  &.Nav__floating {
    margin-top: 1.6rem;
    border-color: var(--primary-light);
  }

  &.Nav__fixed {
    margin-top: 8px;
  }

  .Nav_listContainer {
    display: flex;
    gap: 1rem;
  }

  .Nav_logo {
    margin-left: .2rem;
    line-height: 0;
  }

  .Nav_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 1.5rem;
  }

  .Nav_actions {
    display: flex;
    gap: 1rem;
  }
}

.u_separator {
  width: 1px;
  height: 45px;
  background: var(--primary);
  display: block;
}