:root {
  --background: #ffffff;
  --foreground: #171717;

  --bg: #E9F4FF;
  --primary: #182B4B;
  --secondary: #0059D7;

  --primary-transparent: hsla(218, 52%, 19%, 0.500);
  --secondary-transparent: hsla(215, 100%, 42%, 0.500);


  --primary-light: #DCE6F3;
  --secondary-light: #E6F2FF;

  --transition-duration: 0.2s;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
button {
  color: inherit;
  text-decoration: none;
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}