:root {
  /* font */
  --font-size: 1.2rem;
  --font-weight: 500;

  /* text color */
  --text-color: #171717;
  --text-inverted: #0f172a;
  --text-secondary: #929396;

  /* background color */
  --background: #ffffff;
  --header-bg: #e9f4ff;

  /* primary color */

  --primary: #172a4a;
  --secondary: #0059d7;

  --primary-transparent: hsla(218, 52%, 19%, 0.5);
  --secondary-transparent: hsla(215, 100%, 42%, 0.5);

  --primary-light: #dce6f3;
  --secondary-light: #e6f2ff;

  --transition-duration: 0.2s;
}

.Body__dark {
  /* text color */
  --text-color: #e0e0e0;
  --text-inverted: #e0e0e0;
  --text-secondary: #e0e0e0;

  /* background color */
  --background: #0f172a;
  --header-bg: #1e293b;

  /* primary color */
  --primary: #4c9fff;
  --secondary: #008cff;

  --primary-transparent: hsla(218, 100%, 60%, 0.6);
  --secondary-transparent: hsla(215, 100%, 50%, 0.6);

  --primary-light: #244a7f;
  --secondary-light: #1e5aa3;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

body .Body__dark {
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
button {
  color: inherit;
  text-decoration: none;
  border: none;
}

p {
  color: var(--text-color);
}
