.Nav {
  position: fixed;
  max-width: 1280px;
  width: 100%;
  background: #fff;
  padding: .5rem;
  border-radius: 99999px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  inset-inline: 0;
  margin-top: 1.6rem;
  align-items: center;

  .Nav_listContainer {
    display: flex;
    gap: 1rem;
  }

  .Nav_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;

    li a {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.u_separator {
  width: 2px;
  height: 100%;
  background: var(--primary-light);
}