:root {
  --animation-duration: 1.5s;
  --animation-delay-step: 0.5s;
}

.Header {
  background: url("/images/bg.svg"), linear-gradient(to bottom, var(--bg) 65%, #fff);
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  padding: 9rem 1rem;
  width: 100%;
  height: auto;
}

.Header_slogan {
  max-width: 50rem;
  text-align: center;
  margin: 0 auto;

  h1 {
    font-size: 5rem;
    font-weight: 800;
    background: linear-gradient(to right, var(--secondary), var(--primary), var(--secondary));
    background-size: 200% auto;
    background-clip: text;
    color: transparent;
    animation: moveText 2.5s linear infinite;
  }

  p {
    max-width: 65%;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: .8rem;
    text-wrap: pretty;
  }
}

@keyframes moveText {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

.Header_image {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.Header_logos {
  display: flex;
  gap: 2rem;
}

.Header_logos__left img,
.Header_logos__right img {
  animation-duration: var(--animation-duration);
  animation-iteration-count: infinite;
}

.Header_logos__right img {
  animation-name: moveToCenterFromRight;
}

.Header_logos__left img {
  animation-name: moveToCenterFromLeft;
}

.Header_logos__left img:nth-child(1),
.Header_logos__right img:nth-child(1) {
  animation-delay: 0s;
}

.Header_logos__left img:nth-child(2),
.Header_logos__right img:nth-child(2) {
  animation-delay: 0.5s;
}

.Header_logos__left img:nth-child(3),
.Header_logos__right img:nth-child(3) {
  animation-delay: 1s;
}


@keyframes moveToCenterFromLeft {
  0% {
    transform: translateX(-1.5rem);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes moveToCenterFromRight {
  0% {
    transform: translateX(1.5rem);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

.Header_actions {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1rem;
}