.Heading {
  background: linear-gradient(
    to right,
    var(--secondary),
    var(--primary),
    var(--secondary)
  );
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  animation: moveText 2.5s linear infinite;
  text-wrap: pretty;

  &.Heading__extraSmall {
    font-size: 1.2rem;
  }

  &.Heading__small {
    font-size: clamp(1rem, 3.5vw, 1.5rem);
  }

  &.Heading__medium {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
  }

  &.Heading__large {
    font-size: clamp(3rem, 10vw, 5rem);
  }

  &.Heading__regular {
    font-weight: 600;
  }

  &.Heading__bold {
    font-weight: 800;
  }

  &.Heading__semiBold {
    font-weight: 700;
  }

  &h2 {
    max-width: 70%;
    margin: 0 auto;
  }
}

.Heading_pill {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  & span {
    background: var(--primary-light);
    color: var(--primary);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
  }
}

.Heading__center {
  text-align: center;
  justify-content: center;
}

.Heading__left {
  text-align: left;
  justify-content: left;
}

.Heading__right {
  text-align: right;
  justify-content: right;
}

@keyframes moveText {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}
