:root {
  --animation-duration: 1.5s;
  --animation-delay-step: 0.5s;
}

.Header {
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  padding: 9rem 1rem;
  width: 100%;
  height: auto;
}

.Header_slogan {
  max-width: 50rem;
  text-align: center;
  margin: 0 auto;

  h1 {
    font-size: 5rem;
    font-weight: 800;
    background: linear-gradient(to right, var(--secondary), var(--primary), var(--secondary));
    background-size: 200% auto;
    background-clip: text;
    color: transparent;
    animation: moveText 2.5s linear infinite;
  }

  p {
    max-width: 65%;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: .8rem;
    text-wrap: pretty;
  }
}

.Header_actions {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1rem;
}

@keyframes moveText {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}