:root {
  --animation-duration: 1.5s;
  --animation-delay-step: 0.5s;
}

.Header {
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  padding: 9rem 1rem;
  width: 100%;
  height: auto;
  transition: background var(--animation-duration) ease-in-out;
}

.Header_slogan {
  max-width: 50rem;
  text-align: center;
  margin: 0 auto;

  p {
    max-width: 65%;
    margin: 0 auto;
    margin-top: .8rem;
    text-wrap: pretty;
  }
}

.Header_actions {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1rem;
}
